{% extends 'base.html' %}
{% block content %}
<h1>{{case.title}}</h1>
<p>{{case.event.title}} - {{case.year}} {{case.get_level_display}}</p>
<a href="{% url 'roleplay' %}" class="btn btn-link">Back to Case List</a>
<h2>Performance Indicators</h2>
<ul>
    {% for pi in case.pi_set.all %}
        <li>{{pi.title}}</li>
    {% endfor %}
</ul>
<h2>Case Situation</h2>
<p>{{case.description}}</p>
<h2>Questions</h2>
<ul>
    {% for question in case.casequestion_set.all %}
        <li>{{question.title}}</li>
    {% endfor %}
</ul>
<form action='' method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <!--{{form.as_p}}-->
    <input type="file" name="audio_file">
    <button type='submit' class="btn btn-primary">Submit</button>
</form>
{% if submissions.count > 0 %}
    <h2>My Submissions</h2>
{% endif %}
{% for submission in submissions %}
    {% if submission.marked %}
        <p><a href="{% url 'feedback' pk=submission.id %}">{{submission.date}}</a></p>
    {% else %}
        <p>{{submission.date}}</p>
    {% endif %}
{% endfor %}
{% endblock %}