{% extends 'base.html' %}

{% block title %}
    Exams
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Multiple Choice Exams</h1>
    <p class="mb-4">Get Exams tailored to your cluster by selecting your event in the Profile section.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Exams List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="exam_list" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cluster</th>
                            <th>Status</th>
                            <th>High Score</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exam, user_exam in exams.items %}
                            <tr>
                                <td>{{exam.exam_number}}</td>
                                <td>{{exam.exam_cluster}}</td>
                                {% if user_exam is None %}
                                    <td>Not Started</td>
                                {% elif user_exam.is_finished %}
                                    <td>Finished</td>
                                {% else %}
                                    <td>Started</td>
                                {% endif %}
                                <td>{{user_exam.score}}</td>
                                <td><a href="{% url 'quiz:exam' num=exam.exam_number %}" class="btn btn-primary">Enter</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('#exam_list').DataTable({
            "order":[[2,"desc"]]
        });
    });
</script>
{% endblock %}