{% extends "quiz/base.html" %}
{% block content %}
    {% for exam, userexam in exams.items %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Exam {{exam.exam_number}}</h4>
                <p class="card-text">{{exam.exam_cluster.title}}</p>
                {% if userexam.is_finished %}
                    <p class="card-text">Score: {{userexam.score}}</p>
                {% else %}
                    <p class="card-text">In-Progress</p>
                {% endif %}
                <a href="{% url 'quiz:exam' num=exam.exam_number %}" class="btn btn-primary">Enter</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}